body{
    background-color: gainsboro;
}
div{
    margin: 20px;
    border: 1px solid black;
    margin-bottom: 60px;
}
div *{

    text-align: center;
}
div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{

    background-color: black;
    color: white;
}
a{
    color: white;
}

footer{
    background-color: black;
    color: white;
}

#formUpdate *{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

label{
   margin-left: 50px;
}
#updateB{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
 
}
#deleteForm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
